@font-face {
  font-family: "iconfont"; /* Project id 4185132 */
  src: url('iconfont.woff2?t=1690465861685') format('woff2'),
       url('iconfont.woff?t=1690465861685') format('woff'),
       url('iconfont.ttf?t=1690465861685') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-discord:before {
  content: "\ebf8";
}

.icon-github:before {
  content: "\e691";
}

.icon-tuite:before {
  content: "\e652";
}

