@font-face {
  font-family: "nft"; /* Project id 4185132 */
  src: url('iconfont.woff2?t=1690896406687') format('woff2'),
       url('iconfont.woff?t=1690896406687') format('woff'),
       url('iconfont.ttf?t=1690896406687') format('truetype');
}

.nft {
  font-family: "nft" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gengduo:before {
  content: "\e66c";
}

.icon-24gf-ellipsis:before {
  content: "\eb10";
}

.icon-telegram:before {
  content: "\ec25";
}

.icon-discord:before {
  content: "\ebf8";
}

.icon-github:before {
  content: "\e691";
}

.icon-tuite:before {
  content: "\e652";
}

