.table-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-container {
  width: 100%;
  min-height: 400px;
  overflow: auto;
}

.dog-table {
  width: 100%;
  min-width: 960px;
  border-collapse: separate;
  border-spacing: 0;
  font-size: 14px;
  .dog-table-td {
    padding: 12px;
    white-space: nowrap;
    box-sizing: border-box;
  }
}

.dog-table-th {
  font-weight: bold;
  height: 36px;
  vertical-align: top;
}

.dog-table-tb > .dog-table-tr {
  height: 60px;
  position: relative;

  .table-index {
    position: relative;
    overflow: hidden;
  }

  .dog-table-td {
    border-bottom: 1px solid #333;
  }

  &:first-child > .dog-table-td{
    border-top: 1px solid #333;
  }
}
